# OS
.DS_Store
Thumbs.db
*.lnk

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Dependencies
node_modules/
bower_components/
vendor/
.pnp/
.pnp.js

# Build
*.crate
*.log*.tmp
**/*.rs.bk
.cargo/config.toml
.cargo/credentials.toml
/target/
bin/
build/
dist/
obj/
out/

# Variables
.env*
*.env
*.pem
*.key

reference/
