# OS
.DS_Store
Thumbs.db
*.lnk

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Dependencies
node_modules/
bower_components/
vendor/
.pnp/
.pnp.js

# Build
dist/
build/
out/
bin/
obj/
*.log
*.tmp

# Variables
.env*
*.env
*.pem
*.key

reference/
